<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>短篇</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>连载</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>问答</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>大象公社</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>dota2</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
